@charset "utf-8";
/* CSS Document */
.musicplayer body{
	background-image:url(../N8%E9%A1%B9%E7%9B%AE/N8%E7%BD%91%E9%A1%B5/N8%E7%BD%91%E9%A1%B5%E9%AB%98%E4%BF%9D%E7%9C%9F/%E5%9B%BE%E7%89%87%E8%B5%84%E6%BA%90/%E8%83%8C%E6%99%AF4.jpg)
}
div#Songs{
	width:auto 30%;
	background-color:rgba(250,251,241,1);
	
}


