* {
margin:0;
padding:0;
}
@font-face { 
font-family: ; 
} 
a {
text-decoration: none;
color: white;
}
.html {
margin: 0 auto;
width:1200px;
height:2400px;
}
.top {
width:1200px;
height:520px;
background-image:url(../img/topbg.png);
}
.top_left {
margin-left:54px;
}
.top_right {
margin-right:120px;
}
.top_left li {
display:block;
float:left;
margin-left:74px;
font-size:24px;
color:#fff;
margin-top:49px;
font-family:"Myriad Pro Regular";
}
.top_right li {
display:block;
float:right;
margin-left:69px;
font-size:24px;
color:#fff;
margin-top:49px;
font-family:"Myriad Pro Regular";
}
.pro_left {
float:left;
margin-top:312px;
margin-left:0px;
}
.pro_right {
float:right;
margin-top:312px;
margin-right:58px;	
}