body {
    background-image:url('素材/背景.jpg');
    background-size:100%;
    font:200 25px 微软雅黑;
    
}

li {
    list-style:none;
}

.list {
    background:url('素材/播放效果.png') no-repeat;
    background-position-y:15px;
    background-size:15px;
    padding-left:30px;
}

.phtot img{
    width:175px;
    height:240px;
   margin:auto;
}

ul {
    width:620px;
    height:466px;
    border:0px solid red;
    color:#fff;  
}

.left {
    width:260px;
    height:430px;
    background-color:#fff;
    float:left;
    color:#000;  
    
}

    .left p {
        line-height:5px;
        margin-left:8px;
    }

.right {
    width: 310px;
    height: 390px;
    background-color: #000;
    opacity:0.5;
    float:left;
    padding:20px;
}

.phtot {
    text-align:center;
}

.lyric {
    font:100 17px 微软雅黑; 
    color:#2a261d;
}

.song {
    font:100 12px 微软雅黑;
    color:#585f72;
}

.music {

    width:260px;
    height:50px;
    text-align:center;
    color:#acabb0;
    border:0px solid red;
}


 .music  input {
        width:30px;
        height:30px;
        margin:0px 5px 0px 5px;
    }



    .music img {
        width:15px;
        height:15px;
    }

.music  .bar {
    background:url('素材/进度条 1px.jpg') repeat-x;
    width:260px;
    height:2px;
}

.music_down {
    text-align:left;
    padding:10px 10px 0px 10px;
}

.music_down div{
    font:200 16px 微软雅黑;
    float:left;
    line-height:30px;
}

.music_down span {
        font:200 10px 微软雅黑;
        margin-right:5px;
    }

.voice{
    background:url('素材/进度条 1px.jpg') repeat-x;
    width:50px;
    height:4px;
    margin:12px 0px 0px 0px;
}

.music_down input {
        float:right;
    }