html {
    font-size: 10px;
}
body {
    padding-top: 67px;
    margin: 0;
    background-color: #ffffff;
    font-weight: 400;
    color: #333333;
    font-size: 1.6rem;
    line-height: 1.6;
    min-height: 100%;
    position: relative;
}
a {
    text-decoration: none;
    display: inline-block;
    min-width: 36px;
    text-align: center;
}
.header .header-nav > a {
    background-color: rgba(247, 247, 247, 1.0);
    color: rgba(0, 0, 0, 0.8);
}
.header {
    background-color: rgba(247, 247, 247, 1.0);
    height: 67px;
    line-height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1010;
    padding: 0 10px;
    display: block;
}
.header-nav {
    color: #eee;
    position: absolute;
    top: 0;
    left: 10px;
}

.header-icon {
    font-size: 20px;
}
.icon-button {
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: rgba(247, 247, 247, 1.0);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:100%;
    color: #555;
    text-align: center;
    display: inline-block;
}

#title {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
}
.container {
    margin: 0 auto;
    max-width: 640px;
    height: auto;
    min-height: 60px;
}
.boy {
    background-color: #687177;
}
.girl {
    background-color: #fe938c;
}

.posts {
    width: 100%;
    display: inline-block;
    color: rgba(255,255,255,1.0);
    position: relative;
    text-align: center;
    font-size: 2.0rem;
    letter-spacing: 2px;
    line-height: 1.5;
    border-bottom: thin solid rgba(236,240,241,1.0);
}
.posts-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: block;
}
.avatar {
    top: 15px;
    position: absolute;
    display: inline-block;
    left: 0;
}
.posts-header-user {
    cursor: pointer;
    font-size: 2rem;
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
    padding-left: 20px;

}
    .posts-header-user img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 5px;
    }

.posts-body {
    margin: 0;
    padding: 15px 20px;
    cursor: pointer;
}
.posts-footer {
    position: relative;
    width: 100%;
    display: block;
}
.posts-footer-left {
    float: left;
    font-size: 2rem;
    padding-left: 20px;
    cursor: pointer;
}
.posts-footer-right {
    float: right;
    margin-right: 15px;
    font-size: 1.6rem;
    cursor: pointer;
}