/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-12-5, 22:53:19
    Author     : Administrator
*/
.span{width:500px;height:600px; float: left;color: white;overflow:auto}
.span>pre{padding: 20px}
      .right{width:350px;height: 600px; float:left;
      background-color: white;  }
.bk{width: 850px;height: 600px; margin:0 auto; border: 1px solid lightslategrey}
.bk h3,h5{text-indent:1em;}
.tp{width:200px;height:230px;margin:20px 15%;}
.tt{width:850px;height:50px;margin:0 auto;color: white;}
.aning{height:20px;margin-top:15px;}
.anning li{list-style-type: none;float: left;background: url(playlist.png) no-repeat;}

