@charset "utf-8";
/*size=0.007*width*/

@media only screen and (min-width:300px)
{
    html{
        font-size: 12pt;
    }
}
*{
    margin：0 ;
    padding:0 ;
}
.mid{
    margin:0 auto;
}
.navi{
    margin-top: 0.1rem;
    height:3rem;
    font-size: 1.5rem;
    color:black;
    cursor: pointer;
}
.navi *{
    text-align: center;
    line-height: 3rem;
}

.navi_L{
    width:4rem;
    float:left;
    margin-left:1rem;
    padding:1rem 0.5rem;
    height:3rem;
}
.navi_L:first-child{
    border-bottom: blue 0.4rem solid;
    color:blue;
}
.navi_L:active,.navi_L:visited{
    border-bottom: blue 0.4rem solid;
    color:blue;
}
.navi_R{
    float:right;
    font-size: 3rem;
    height:3rem;
    vertical-align: bottom;
    padding:1rem 0.5rem;
}
.navi_R2{
    float:right;
    width:5rem;
    height:3rem;
    border:1px solid grey;
    background-color: #DDD;
    border-radius: 0.1rem;
    margin: 0 0.75rem;
    padding:1rem 0.5rem;

}





.google{
    width:21rem;
    height:7rem;
    margin-top:13rem;
    background-image: url(draft/google.png);
    background-size: contain;
}

.search{
    width:43rem;
    height:3rem;
    margin-top:2.5rem;
    border-radius: 0.2rem;
    border:0.1rem solid #333;
    overflow: hidden: ;
}
.sea_T{
    font-size: 3rem;
    float:right;
    color: #44E;
    position:relative;
    bottom:0.2rem;
}


.hint{
    font-size: 1rem;
    width:30rem;
    height:1rem;
    margin-top:3rem;
    text-align: center;
}

.bottom{
    position: fixed;
    bottom:0;
    height:6rem;
    left:0;
    right:0;
    background-color: #BBB;
    text-align: center;
    line-height: 6rem;
}

a{text-decoration: none;}

