
@{
    //var gds = Database.OpenConnectionString("GDM");
    //var cartime = gds.Query("select * from CAR_TRACKS");
    //string DeptID = Request.QueryString["DeptID"] == null ? "" : Request.QueryString["DeptID"];
    //string StartDate = Request.QueryString["StartDate"] == null ? "" : Request.QueryString["StartDate"];
    //string EndDate = Request.QueryString["EndDate"] == null ? "" : Request.QueryString["EndDate"];
    //string isShow = Request.QueryString["IsShow"] == null ? "0" : Request.QueryString["IsShow"];
    }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" >aa
        $(function(){
            $(".nav ul li ul li a").click(function () {
                var date =  $(this).attr("id");
                //alert(date);
                $.ajax({ 
                    type:'get', 
                    url: date,
                    cache:false, 
                    dataType:'html', 
                    data:null,
                    success: function (data) {
                        $("#12").removeClass("div2");
                        $("#iframe").html(data);
                        
                    }, 
                    error:function(e){ 
                        alert("error"); 
                    } 
                }); 
            });})
    </script>
    <style type="text/css">
* { margin:0; padding:0;}
ul, li { list-style:none;}
a { text-decoration:none;}
.nav { border:2px solid #ccc; border-right:none; overflow:hidden; float:right;margin-right:100px;top:25px;}
.nav ul li { float:left;}
.nav ul li a { width:120px; height:40px; text-align:center; line-height:40px; display:block; border-right:2px solid #ccc; background:#eee; color:#666;}
.nav ul li a:hover{ color:#f00; }
.nav ul li ul { position:absolute; display:none;}
.nav ul li ul li { float:none;}
.nav ul li ul li a { border-right:none; border-top:1px dotted #ccc; background:#f5f5f5;}
.nav ul li:hover ul{ display:block; }
        .div {
            width:100%;
            height:45px;
            background-image:url(picture/top.jpg);
        background-size:cover; 
        }
        .div2 {
        width:100%;
        height:630px;
        background-image:url(picture/2.png);
        background-size:cover; 
        }
</style>
    </head>
    <body>
        <div class="div">
        <div  class="nav">
            <ul>
    <li><a href="#">人员</a>
      <ul>
        <li><a id="MainProgram/Employee.cshtml" >人员管理</a></li>
      </ul>
    </li>
    <li><a href="#">部门</a>
      <ul>
        @*<li><a href="#">考勤</a></li>*@
      </ul>
    </li>
    <li><a href="#">考勤</a>
      <ul>
        <li><a id="MainProgram/CheckWord.cshtml">签到</a></li>
        <li><a id="MainProgram/Leave.cshtml">请假</a></li>
        <li><a id="MainProgram/Workovertime.cshtml">加班</a></li>
      </ul>
    </li>
    <li><a href="#">薪资</a>
       <ul>
        <li><a id="MainProgram/Wage.cshtml">查看薪资</a></li>
        <li><a id="MainProgram/WageMonth.cshtml">薪资结算</a></li>
      </ul>
        </li>
  </ul>
        </div>
            </div>
        <div id="12" class="div2">
        <div id="iframe" ></div>
            </div>
    </body>
    </html>