div {
    float:left;
    height:245px;
    text-align:left;
    border:solid #000 3px;
}
#head {
    width:100%;
    border:0px;
    height:50px;
}
#container {
    background-color: grey;
    height:500px;
}
.guess_box {
    height:245px;
}