/* *{
 	border: red 1px solid;
 }
*/
body{
	font-family: "Helvetica","Arial",serif;
	color: #333;
	background-color: #ccc;
	margin: 1em 10%;
}
a{
	color:#c60;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
}
h1{
	color:#333;
	background-color: transparent;
}
ul{
	padding: 0;
}
li{
	float: left;
	padding:1em;
	list-style: none;
}
img{
	display: block;
	clear: both;
}