* {
    margin: 0; padding: 0;
}
body {
    font: 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #333;
    color: #fff;
}
a {
    outline: none;
    text-decoration: none;
}
.Body{

}
.Title {
    height:100px;
    line-height:100px;
    font-size:30px;
    font-family:'微软雅黑';
    color:#FFF;
    text-align:center;
    background:url(../images/bodyBg3.jpg) repeat-x bottom left;
    font-weight:normal
}
.kePublic {
    background:#333;
    padding:50px;
}
.keBottom {
    color:#FFF;
    padding-top:25px;
    line-height:28px;
    text-align:center;
    font-family:'微软雅黑';
    background:url(../images/bodyBg2.jpg) repeat-x top left;
    padding-bottom:25px
}
.keTxtP {
    font-size:16px;
    color:#ffffff;
}
.keUrl {
    color:#FFF;
    font-size:30px;
}
.keUrl:hover {
    text-decoration: underline;
    color: #FFF;
}
.mKeBanner,.mKeBanner div {
    text-align:center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#background {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#player {
    width: 500px;
    height: 130px;
    padding: 25px;
    margin: 50px auto 30px;
    position: relative;
}
#player .cover {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    position: absolute;
    top: 25px;
    left: 25px;
    overflow: hidden;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    box-shadow: 0 2px 10px black;
}
    #player .cover img {
        border-radius: 10px;
        width: 130px;
        height: 130px;
    }
#player .ctrl {
    margin-left: 155px;
    text-shadow: 0 1px 2px #000;
    line-height: 16px;
}
    #player .ctrl .tag strong,
    #player .ctrl .tag span {
        display: block;
        text-overflow: ellipsis;
    }
    #player .ctrl .tag span {
        font-size: 12px;
        margin-top: 5px;
        color: #ccc;
    }
    #player .ctrl .icon {
        background: no-repeat center;
        display: inline-block;
        opacity: 0.6;
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: 0.3s;
    }
    #player .ctrl .icon:hover,
    #player .ctrl .icon.enable {
        opacity: 1;
    }
    #player .ctrl .icon:active {
        opacity: 0.3;
    }
    #player .ctrl .control {
        margin-top: 10px;
        height: 25px;
    }
    #player .ctrl .control .rewind {
        background-image: url(../images/rewind.png);
    }
    #player .ctrl .control .playback {
        background-image: url(../images/play.png);
    }
    #player .ctrl .control .playback.playing {
        background-image: url(../images/pause.png);
    }
    #player .ctrl .control .fastforward {
        background-image: url(../images/fastforward.png);
    }
    #player .ctrl .control .volume .mute {
        background-image: url(../images/volume.png);
    }
    #player .ctrl .control .volume .mute.enable {
        background-image: url(../images/mute.png);
    }
    #player .ctrl .control .volume .slider {
        margin-top: 11px;
        margin-left: 10px;
        width: 100px;
    }
    #player .ctrl .progress {
        margin-top: 10px;
    }
        #player .ctrl .progress .timer {
            font-size: 12px;
            color: #ccc;
            margin-top: 8px;
        }
        #player .ctrl .progress .repeat,
        #player .ctrl .progress .shuffle {
            background-position: center bottom;
        }
        #player .ctrl .progress .repeat {
            background-image: url(../images/repeat.png);
        }
            #player .ctrl .progress .repeat.once,
            #player .ctrl .progress .repeat.all {
                opacity: 1;
            }
            #player .ctrl .progress .repeat.once {
                position: relative;
            }
            #player .ctrl .progress .repeat.once:before {
                content: "1";
                position: absolute;
                top: 3px;
                right: -2px;
                font-size: 8px;
            }
            #player .ctrl .progress .shuffle {
                background-image: url(../images/shuffle.png);
            }
.slider {
    background: rgba(0, 0, 0, 0.3);
    height: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
    .slider:hover a,
    .slider.enable a {
        opacity: 1;
    }
    .slider a {
        background: #fff;
        margin-left: -2.5px;
        position: absolute;
        opacity: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transition: opacity 0.3s;
    }
    .slider .loaded,
    .slider .pace {
        position: absolute;
        height: 100%;
        opacity: 0.7;
        border-radius: 5px;
    }
    .slider .loaded {
        background: rgba(255, 255, 255, 0.1);
    }
    .slider .pace {
        background: #258fb8;
    }
#playlist {
    background: rgba(0, 0, 0, 0.5);
    width: 470px;
    margin: 0 auto 50px;
    padding: 10px 15px;
    list-style: none;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
    #playlist li {
        color: #aaa;
        font-size: 12px;
        line-height: 2;
        padding-left: 25px;
        cursor: pointer;
        text-overflow: ellipsis;
        transition: 0.3s;
    }
    #playlist li:hover {
        color: #fff;
    }
    #playlist li.playing {
        background: url(../images/playing.png) no-repeat 0 center;
        color: #fff;
        font-weight: bold;
    }
footer {
    position: relative;
    font-size: 12px;
    color: white;
    margin-top: 160px;
    text-shadow: 0 1px 2px #000;
    text-align: center;
}
    footer a {
        color: #fff;
        font-weight: bold;
    }
    footer a:hover {
        text-decoration: none;
    }
