@*
<configuration>
<summary>
1
</summary>
<params>
</params>
<settings>
<Session enable="false">
</Session>
</settings> 
</configuration>
*@

@{

}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="~/js/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"  src="~/js/common.min.js"></script>

    <style type="text/css">
        *{margin:0;padding:0px;}
        .body {
            height:100%;
            width:100%;
            left:0px;
            top:0px;
            position:absolute;
            /*background-image:url(../Themes/Default/Page/act/background.jpg);*/
            background-position:100% 100%;
        }
        .top {
            margin: 0 auto;
            width:1190px;
            /*height:200px;*/
        }
            .top-title {
                width:900px;
                margin: 0 auto;
                height:100px;
            }
        .top-title div {
            float:left;
            height:100px;
        }
        .img {
            height:100px;
        }
        .middle {
            width:900px;
            height:510px;
            margin: 0 auto;
            /*background-color:#fff;
            opacity:0.1;*/
            background:rgba(96,96,96,0.1);
        }
        .bottom {
            width:900px;
            margin:0 auto;
            height:50px;
            background-color:#ffd800;
        }
        .middle > div {
            width:900px;
            height:150px;
            background:rgba(96,96,96,0.1);
            /*background-color:rgb(100,100,100);*/
            /*opacity:0.8;*/
            margin-top:10px;
            padding-top:15px;
        }
        .middle > div div:first-of-type {
            width:120px;
            height:120px;
            border-radius:50%;
            border:solid rgb(255,255,255) 3px;
            /*background-color:rgb(0, 0, 0);*/
            margin-left:50px;
            float:left;
        }
        .middle > div div:first-of-type img{
            width:126px;
            height:126px;
            border-radius:50%;
            margin-left:-2.5px;
            margin-top:-3px;
            float:left;
        }
        .middlep {
            display:block;
            margin-left:200px;
            font-size:42px;
            position:relative;
            color:#f00;
            font-weight:bolder;
        }

    </style>
   
</head>
<body>
    <div class="body">
        <div class="top">
            <div class=" top-title">
                <div ><img class="img" src="../Themes/Default/Page/act/lefttitle.png" /></div>
                <div ><img class="img" src="../Themes/Default/Page/act/topcenter.png" /></div>
                <div >123123123</div>
                <div ><img class="img" src="../Themes/Default/Page/act/topright.png" /></div>
            </div>
            <div class="middle">
                <div>
                    <div>
                        <img src="../Themes/Default/Page/act/activity-lottery-1.png" /></div>
                    <span class="middlep">mingcjijasjda</span>
                    <span class="middlep" >sadsadasda</span>
                </div>
                <div><div></div></div>
                <div><div></div></div>
                @*<div>
                <div>
                        <img src="../Themes/Default/Page/act/activity-lottery-1.png" />
                </div>
                    <span class="middlep">mingcjijasjda</span>
                    <span class="middlep" >sadsadasda</span>
                </div>
                <div><div></div></div>*@
            </div>
            <div class="bottom">

            </div>
        </div>
    </div>
</body>
</html>

