@{
    var click = Request.Params["click"];
    var newtime = DateTime.Now.ToString("HH:mm");
    var banduan = "08:00";
    var xiawu = "18:00";
    var date = DateTime.Now.ToString("yyyy/MM/dd");
    var EmNunber = AdNumber.adnumber;
    var state = "";//
    var sqlLea = DBHelper.execReader("select Startdate,EndDate,state from [Leave] where EmNumber='" + EmNunber + "' ");
    //Response.Write("<Script Language=JavaScript>alert('" + date + "');</Script>");
    //Response.Write("<Script Language=JavaScript>alert('" + leaEnd + "');</Script>");
    if (click == "1")
    {

        if (DateTime.Compare(Convert.ToDateTime(banduan), Convert.ToDateTime(newtime)) > 0)
        {
            state = "正常上班";
            var sql = "insert into [Check] (EmNumber,Newtime,State,Date) values('" + EmNunber + "','" + newtime + "','" + state + "','" + date + "')";
            DBHelper.execSql(sql);
        }
        else if (Convert.ToDateTime(banduan) > Convert.ToDateTime(date))
        {
            state = "迟到";
            var sql = "insert into [Check] (EmNumber,Newtime,State,Date) values('" + EmNunber + "','" + newtime + "','" + state + "','" + date + "')";
            DBHelper.execSql(sql);
        }

    }
    else if (click == "2")
    {
        if (Convert.ToDateTime(xiawu) > Convert.ToDateTime(newtime))
        {
            state = "早退";
            var sql = "insert into [Check] (EmNumber,Newtime,State,Date) values('" + EmNunber + "','" + newtime + "','" + state + "','" + date + "')";
            DBHelper.execSql(sql);
        }
        else if (Convert.ToDateTime(xiawu) < Convert.ToDateTime(newtime))
        {
            state = "正常下班";
            var sql = "insert into [Check] (EmNumber,Newtime,State,Date) values('" + EmNunber + "','" + newtime + "','" + state + "','" + date + "')";
            DBHelper.execSql(sql);
        }
    }
    while (sqlLea.Read())
    {
        var stardate = sqlLea["Startdate"].ToString();
        var EndDate = sqlLea["EndDate"].ToString();
        if (sqlLea["state"].ToString() == "通过")
        {
            if (DateTime.Compare(Convert.ToDateTime(EndDate), Convert.ToDateTime(date)) >= 0 || DateTime.Compare(Convert.ToDateTime(stardate), Convert.ToDateTime(date)) <= 0)
            {
                state = "请假";
                var sql = DBHelper.execScalar("UPDATE [Check] SET state = '" + state + "' where EmNumber='" + EmNunber + "' and date ='" + date + "'");
            }
        }
    }
                        //查询
}
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
        <script src="../js/CheckWord.js"></script>
<div id="divtable1">
<div id="table1">
    <table id="table" class="bordered" style="width:100%">
                    <tr>
                        <th>员工姓名</th>
                        <th>部门名称</th>
                        <th>时间</th>
                        <th>状态</th>
                    </tr>
                    @{ 
                        var all = DBHelper.execReader("select a.EmName,b.State,c.DeName,b.newtime from [Employee] a ,[check] b,[Department] c where a.EmNumber=b.EmNumber and a.DeNumber=c.DeNumber and a.EmNumber='" + EmNunber + "'");
                        while (all.Read())
                      {
                    <tr>
                        <td>1</td>
                        <td>@all["EmName"]</td>
                        <td>@all["DeName"]</td>
                        <td>@all["Newtime"]</td>
                        <td>@all["state"]</td>
                    </tr>
                      }
                    }
                </table>
</div>
    <div class="divCK" style="width:100%;height:40px;text-align:center;">
                <input type="button" id="btn1" style="width:70px;height:30px;" value="首页" />&nbsp&nbsp
                <input type="button" id="btn2" style="width:70px;height:30px;" value="上一页"/>&nbsp&nbsp
                <input type="button" id="btn3" style="width:70px;height:30px;" value="下一页" />&nbsp&nbsp
                <input type="button" id="btn4" style="width:70px;height:30px;" value="尾页" />
            </div>
    </div>