.week{
    color: #fafbfb;
    text-align:center;
    border:0;
    padding:0;
    margin:0;
    background-color: #0978a6;
}

.week tr td {
    width:70px;
    font-weight:bold;
    font-family:"黑体",serif;
    font-size:20px;
    padding:1px;
}


.panel {
    margin:0;
    padding:10px;
    }
.panel div {
    padding:2px;
    margin-top:20px;
    background:#e8f5f9;
    border:1px solid #a6a8ab;
    font-size:9pt;
    cursor:pointer;
}
.date {
    text-align:center;
    background-color: #fcfcfc;
    border:0;
    padding:0;
    margin:0;
}
.date tr td {
    padding:1px;
    margin:0;
    width:70px;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.tr2 td {
    background-color: #e8f5f9;
}