            .banner{
                text-align: center;
            }
            .banner h1{
                font-size: 70px;
                line-height: 80px;
                margin-top: 50px; 
                margin-bottom: 38px;
                color:#303030;  
            }
            .banner p{
                font-size: 24px;
                line-height: 35px;
                margin-bottom: 78px;
                font-family: 'Georgia Italic';
                color:#606060;
            }  
            .ban-btn{
                margin-bottom: 153px;
                display:none;
            }          
            .ban-btn a{
                display:inline-block;
                padding:20px 35px;
                font-size: 14px;
                line-height: 18px;
                border: 1px solid #959595;
                color:#303030;
            }
            .ban-btn a:hover{
                text-decoration: none;
            }
            @media (min-width: 768px){
                .banner h1{
                    font-size: 72px;
                    line-height: 85px;
                    margin-top: 135px; 
                    margin-bottom: 0; 
                }
                .banner p{
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 65px;
                }
                .ban-btn{
                    display:block;
                }
            }
            .gallery{
                color:#fff;
                letter-spacing: 0.05em;
                line-height: 27px;
            }
            .gallery p{
                font-family: 'Georgia Italic';
                margin-bottom: 0;
                font-size: 18px;
                text-transform: uppercase;
            }  
            .gallery h1{
                font-weight: bold;
                font-family: 'Lato-Bold';
                font-size: 24px;
                margin:0;
            }   
            .gallery .one-line{
                height: 295px;
            }
            .one-line>a,.two-line>a{
                display:block;
                width:100%;
                height:100%;
                color:#fff;
            }
            .one-line>a:hover,.two-line>a:hover,.one-line>a:focus,.two-line>a:focus,.one-line>a:visited,.two-line>a:visited{
                text-decoration: none;
            }
            /*两行模块*/
            .gallery .two-line{
                height: 590px;
            }
            .gallery .two-line h1:first-child{
                padding-top:268px ;
            }
            /*推特模块*/
            .twit{
                background-color: #bbbbbb;
            }
             .twit p{
                font-size: 14px;
                line-height: 19px;
                text-transform: none;                
            }
            .twit .brand-id{
                font-weight: bold;
                margin-top: 17px;
            }
            /*推特图标*/
            .twit-icon,.arrow-icon{
                line-height: 32px;
                font-size: 32px;
            }
            .twit-icon{
                padding: 70px 0px 23px;
            }
            .twit-icon>span:first-child,.twit-icon>span:last-child{
                width:20px;
                height:2px;
                background-color: #fff;
                display:inline-block;
                vertical-align: middle;
            }
            .twit-icon>span:nth-child(2),.arrow-icon span{
                width:32px;
                height:32px;
                display:inline-block;
                vertical-align: bottom;
                background-repeat: no-repeat;
            }
            .twit-icon>span:nth-child(2){
                background-image:url(../images/twit-icon.png);
            }
            /*品牌系列*/
            .series h1{
                padding-top: 120px;
            }
            /*左箭头模块*/
            .l-arrow{
                background-color: #606060;
            }
            /*左箭头图标*/
            .arrow-icon{
                padding-top: 100px;
            }
            .arrow-icon span{
                background-image: url(../images/aarow.png);
            }
            /*背景颜色*/
            .two-line:first-child{
                background-color: #d2d2d2;
            }
            .two-line:last-child{
                background-color: #d7d7d7;
            }
            .series:nth-child(2){
                background-color: #cacaca;
            }
            .series:last-child{
                background-color: #d0d0d0;
            }
            /*空模块*/
            .em-mo:first-child{
                background-color: #c2c2c2;
            }
            .em-mo:last-child{
                background-color: #dbdbdb;
            }
            /*订阅模块*/
            .subscription{
                 letter-spacing: 0.05em;
                 font-size: 0px;
                 color:#606060;
            }
            .subscription h1{
                margin:74px auto 23px;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                color:#303030;
                font-family: 'Lato-Bold';
            }
            .subscription p{
                font-family: 'Georgia Italic';
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 56px;
            } 
            .subscription input{
                outline:none;
                font-size: 20px;
                line-height: 24px;
            }
            .subscription input[type="text"]{
                padding:18px 11px;
                font-style: italic;
                border:2px solid #959595;
                border-right: none;
                width:75%;

            }
            .subscription input[type="submit"]{
                padding:20px 0px;
                color:#fff;
                background-color: #f68236;
                border:none;
                width:25%;
            }
            .subscription form{
                margin-bottom: 80px;
            }
            @media (min-width: 768px){
                .subscription h1{
                    line-height: 35px;
                    margin:140px auto 9px;
                }
                .subscription p{
                    line-height: 35px;
                    margin-bottom: 53px;
                }
                .subscription input{
                    font-size: 14px;
                    line-height: 18px;
                }
                .subscription input[type="text"]{
                    width:41.66666667%;
                }
                .subscription input[type="submit"]{
                    width:8.33333333%;
                }
                .subscription form{
                    margin-bottom: 132px;
                }
            }
